@use 'variables';

.event{
    padding: 80px 0;
    

    &--fantasias{
        background: rgb(15,94,173);
        background: linear-gradient(0deg, rgba(15,94,173,1) 42%, rgba(32,168,218,1) 100%);  
    }

    &--brinque{
        background: rgb(15,94,173);
        background: linear-gradient(0deg,rgba(32,168,218,1)  42%,  rgba(15,94,173,1) 100%);  
    }

    &--alimentacao{
        background: rgb(15,94,173);
        background: linear-gradient(0deg, rgba(15,94,173,1) 42%, rgba(32,168,218,1) 100%);
    }
    &--brindes{
        background: rgb(15,94,173);
        background: linear-gradient(0deg,rgba(32,168,218,1)  42%,  rgba(15,94,173,1) 100%);
    }

    &--image-left{
        .container{
            flex-direction: row-reverse;
        }
    }

    .container{
        display: flex;
        gap: 40px;
    }


    &__desc{
        &__title{
            font-size:18px;
            margin-bottom:8px;
        }
        &__text{
            font-size: 16px;
        }
    }

    &__img{
        max-width: 360px;
        width: 1005;
        object-fit: contain;
    }

    @media (max-width:640px) {
        .container{
            flex-direction: column;
            align-items: center;
        }

        &__img{
            max-width: 100%;
        }
    }
}