@use 'variables';
@use 'hero';
@use './components/infos_bar';
@use 'events';
@use 'footer';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: variables.$colorTextPrimary;
    list-style: none;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    
    @media (max-width:1024px) {
        max-width: 90%;
    }
    @media (max-width:640px) {
        max-width: 80%;
    }
}